<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css">
    <title>Seven Gaming</title>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/6d6a4fc15e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <script
      src="https://kit.fontawesome.com/6d6a4fc15e.js"
      crossorigin="anonymous"
    ></script>
    <div class="container">
      <div class="navBar">
        <div class="subNav1">
          <div class="icon-menu">
            <i
              class="fas fa-bars"
              style="color: white; width: 30px; height: 15px; cursor: pointer"
            ></i>
          </div>
        </div>
        <div class="subNav2">
          <img class="logo" src="./logo.svg" alt="logo" />
        </div>
        <div class="subNav3">
          <i
            class="far fa-user-circle"
            style="
              color: white;
              margin-right: 10px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            "
          ></i>
          <i
            class="fas fa-search"
            style="
              color: white;
              margin-right: 10px;
              width: 20px;
              height: 20px;
              cursor: pointer;
            "
          ></i>
          <i
            class="fas fa-cart-plus"
            style="color: white; width: 20px; height: 20px; cursor: pointer"
          ></i>
        </div>
      </div>
      <section class="slider-container">
        <div class="imageContainer">
          <img class="img-carrusel" src="./placeholder 1.png" alt="" />
          <img class="img-carrusel" src="./placeholder 1.png" alt="" />
          <img class="img-carrusel" src="./placeholder 1.png" alt="" />
          <img class="img-carrusel" src="./placeholder 1.png" alt="" />
          <img class="img-carrusel" src="./placeholder 1.png" alt="" />
        </div>
        <div class="selector-container">
          <div class="selector">
            <img src="./Vector.svg" alt="" />
            <div class="elipsis">
              <img id="elipsis-bk" src="./Ellipse 4.svg" alt="" /><img
                src="./Ellipse 4.svg"
                alt=""
              /><img src="./Ellipse 4.svg" alt="" />
            </div>
            <img src="./Vector (1).svg" alt="" />
          </div>
        </div>
      </section>
      <section class="ofertas">
        <div class="title-container">
          <span class="ofertas-title">Ofertas</span>
        </div>
        <div class="cards-container">
          <div class="card">
            <img src="./Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
          <div class="card">
            <img src="./Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
          <div class="card">
            <img src="./Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
          <div class="card">
            <img src="./Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
        </div>
      </section>
      <section class="categorias">
        <div class="title-container2">
          <span class="categorias-title">Categorías</span>
        </div>
        <div class="cards-container2">
          <div class="card2">
            <span class="texto2">Juegos</span><img src="./Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Libros & Arte</span
            ><img src="./Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Pins</span><img src="./Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Accesorios</span
            ><img src="./Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Ropa</span><img src="./Image.png" alt="" />
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="title-contacto">
          <span class="contacto">CONTACTANOS</span>
        </div>
        <div class="contact-container">
          <span>Rinehart Road, Fort Lauderdale, FL 33301</span>
          <span>594-92-5478 - contacto@sevengaming.com</span>
        </div>
        <div class="a-items">
          <a href="">Home</a>
          <a href="">Juegos</a>
          <a href="">Libros & Arte</a>
          <a href="">Pins</a>
          <a href="">Ropa</a>
          <a href="">Ofertas</a>
          <a href="">Carrito</a>
          <a href="">Mi cuenta</a>
          <a href="">¿Quiénes somos?</a>
        </div>
        <div class="logos-redes-sociales">
          <img src="./facebook_mono.svg" alt="logo redes 3" />
          <img
            id="redes-sociales"
            src="./twitter_mono.svg"
            alt="logo redes 2"
          />
          <img src="./instagram_mono.svg" alt="logo redes" />
        </div>
      </section>
    </div>
  </body>
</html>
