:root{
    --main-color:rgb(18,26,34);
    --secondary-color:rgb(0,154,22);
    --terciary-color:rgb(20,37,58);
    --cuartary-color:rgb(245,245,245);
}

*{
    margin: 0x;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    margin: auto;
}

header {
    background-color: #121a22;
    color: white;
}
.barra-superior {
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
   
}
.menu {
    width: 10%;
    flex-wrap: 10%;
}
.logo {
    width: 60%;
    flex-wrap: 60%;
}
.primer-icono {
    width: 10%;
    flex-wrap: 10%;
}
.segundo-icono {
    width: 10%;
    flex-wrap: 10%;
}
.tercer-icono {
    width: 10%;
    flex-wrap: 10%;
}

.seccion{
    display: block;
    text-align: left;
    font-size: 24px;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}
.imagenes{
    margin: auto;
    width: 110%;
    margin-top: 30px;
    
}
.galeria-imagenes{
    margin: auto;
    width: 90%;
   }

.imagenPrincipal img {
    width: 100%;

}
.imagenSecundaria img {
    width: 100%;
    margin: 5px;
  }

.imagenPrincipal{
    width: 90%;
    align-content: center;
}

.imagenSecundaria{
    display: flex;
    width: 90%;
    justify-content: space-around;
}
.categoria{
    margin: auto;
    margin-top: 30px;
}

.titulo{
    margin-top: 10px;
}
.descripcion{
    width: 90%;
    margin: auto;
    text-align: left;
}

.descripcion ul{
    margin-left: 15px;
}

.cuotas, .stock{
    font-size: 14px;
    color: #009ADE;
}

.titulo{
    font-size: 24px;
    font-weight: bolder;
}

.cajaCantidad{
    display: flex;
}

.cantidad{
    font-weight: bold;
    margin: 20px;
    align-items: center;
}
.form{
    display: flex;
    align-items: center;
    height: auto;
}   
.boton{
    background-color: #14253A;
    width: 200px;
    height: 40px;
    color: white;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
    line-height: 35px;
    font-weight: bold;

}

.tarjetas{
    position:relative;
    display: flex;
    margin: auto;
    width: 30%;
    margin-top: 20px;
}

.footer--content{
    position:relative;

}
.data{
  gap: 3px;
  display: flex;
  flex-direction: row;
}
.data i{

  color:blue
}

.footer--format{
    position: relative;
    bottom: 0;
    width: 100%;
    color:var(--cuartary-color);
    background-color: var(--main-color);
      }

      
  .footer--content{
    position:relative;

}
.data{
  gap: 3px;
  display: flex;
  flex-direction: row;
}
.data i{

  color:blue
}
.footer--distribution{
margin-top: 15px;

    gap:14px;
  display:flex;
  align-items: center;
  flex-direction: column;
  font-weight:200;
}
.footer--contactanos{
    font-size: 18px;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}
