<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seven Gaming</title>
    <link href="/css/carrito-login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cuenta.css">
    <link rel="stylesheet" href="/css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <main>
        <section>
            <div class="titulo-1"><h4>Carrito de Compras</h4></div>
            <article class="superior">
                <div><p class="item-1">Subtotal</p></div>
                <div><p class="item-2">Total</p></div>
                <div><p class="item-3">$4.500</p></div>
                <div><p class="item-4">$4.500</p></div>
            </article>
            <article class="intermedio">
                <img class="cuadrado" src="/images/auriculares.png" alt="accesorio" />
                <div class="descripción"><p>Nombre y descripción del producto</p></div>
            </article>
            <article class="inferior">
                <div class="item"><p>Precio</p></div>
                <div class="item"><p>Cantidad</p></div>
                <div class="item"><p>Subtotal</p></div>
                <div class="item"><p>$4.500</p></div>
                <div class="item"><p>Cuadro</p></div>
                <div class="item"><p>$4.500</p></div>
            </article>
            <article class="botones">
                <form action="/productos/carrito" method="post">
                    <button class="botom--format" type="button">Enviar</button>
                    <button class="botom--format" type="button">Eliminar</button>
                </form>
            </article>
        </section>
    </main>
      <!-- Footer -->
      <%- include('partials/footer') %>
</body>
</html>