<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
  <link href="/css/crearCuenta.css" rel="stylesheet" />
  <title>Seven Gaming</title>
  <script src="https://kit.fontawesome.com/6d6a4fc15e.js" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"></script>
  <script src="https://kit.fontawesome.com/6d6a4fc15e.js" crossorigin="anonymous"></script>
</head>

<body>
  <%- include('partials/header') %>
    <article class="body">

    </article>
    <%- include('partials/footer') %>
</body>

</html>