<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../public/css/home.css">
    <link rel="stylesheet" href="../../public/css/cuenta.css">
    <title>Seven Gaming</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <main class="main__distribution">
            <h1 class="title--format">Agregar producto </h1>
            <form action="/productos" method="post" enctype="multipart/form-data" class="form--format">
                <div class="nombre--format">
                    <div class="nombre--distribucion">

                        <label for="username">Nombre del producto</label><br>
                        <input type="text" id="username" name="username"><br>
                    </div>
                    <div class="nombre--distribucion">
                        <label for="pwd">descripcion</label><br>
                        <textarea rows="15" cols="60" name="desripcion">
Ingrese descripcion del producto...
                </textarea><br>
                        <label>agregar imagen</label><br>
                        <input type="file" name='imagen1' /><br>
                        <input type="submit" name="subir-imagen" value="enviar imagen" />
                    </div>
                </div>
                <label for="username">categoria</label><br>
                <select id="categoria" name="categotria"> <br>
                    <option value="Juego">Juego</option>
                    <option value="Disfraz">Disfraz</option>
                    <option value="Artilugio">Artilugio</option>
                </select>
                <label for="username">tematica</label><br>
                <select id="tematica" name="tematica"> <br>
                    <option value="Destiny">Destiny</option>
                    <option value="LOL">LOL</option>
                    <option value="CSS">CSS</option>
                </select><br>
                <label for="precio">precio</label><br>
                <input type="price" id="prc" name="prc">
            </form>


            <div class="create--acount">
                <button class="botom--format" type="button" onclick="alert('cuenta creada!')">Agregar</button>
                <div class="data">
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>