<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/cuenta.css">
    <title>Seven gaming</title>
</head>

<body>
    <header>
        <div class="container">
          <div class="navBar">
            <div class="subNav1">
              <div class="icon-menu">
                <i
                class="fas fa-bars"
                style="color: white; width: 30px; height: 15px; cursor: pointer"
                ></i>
              </div>
            </div>
            <div class="subNav2">
              <img class="logo" src="img/logo.svg" alt="logo" />
            </div>
            <div class="subNav3">
              <i
              class="far fa-user-circle"
              style="
                color: white;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                "
            ></i>
            <i
            class="fas fa-search"
            style="
                color: white;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                "
            ></i>
            <i
            class="fas fa-cart-plus"
            style="color: white; width: 20px; height: 20px; cursor: pointer"
            ></i>
          </div>
        </div>
      </header> 
    <main class="main__distribution">
        <h1 class="title--format"> Crear cuenta</h1>
        <form class="form--format">
            <div class="nombre--format">
<div class="nombre--distribucion">

    <label for="username">Nombre</label><br>
    <input type="text" id="username" name="username"><br>
</div>
<div class="nombre--distribucion">
                <label for="pwd">Apellido</label><br>
                <input type="text" id="pwd" name="pwd"><br>
            </div>
            </div>
            <label for="username">Numero de telefono(opcional)</label><br>
            <input type="text" id="numero" name="nombre"><br>
            <label for="username">Email</label><br>
            <input type="text" id="mail" name="mail"><br>
            <label for="pwd">Contrasena</label><br>
            <input type="password" id="pwd" name="pwd"><br>
            <label for="pwd">Confirmar Contrasena</label><br>
            <input type="confirm--password" id="pwd" name="pwd">
        </form>
<div class="reCAPTCHA">
    <form>
        <div class="nombre--format1">

            <input class="opcion--humano" type="checkbox" id="1" name="1" value="1">
            <label class="robot" for="vehicle1"> No soy un robot</label><br>  
            <img class="img" src="./img/360_F_374832817_o1XM5iP8cKloqbNCMAQZjC2wijiNxcec.jpeg" alt="logo recaptcha">
        </div>  

</div>

        <div class="create--acount">
            <button class="botom--format" type="button" onclick="alert('cuenta creada!')">Crear cuenta</button>
            <div class="data">

                <p >Ya tienes una cuenta?<i>  Inicia sesion </i></p>
            </div>
        </div>
    </main>
    <footer class="footer--format">
        <div class="footer--distribution">



            <div class="footer--contactanos">
                <h2>Contactanos</h2>
                <p class="direccion">3221 Rinehart road, ford Lauderdale, Fl 33301</p>
                <p class="direccion">594-92-5478 -contacto@sevengamin.com</p>
            </div>
            <h2>Home</h2>
            <h2>Juegos</h2>
            <h2>Libros & Arte</h2>
            <h2>Pins</h2>
            <h2>Ropa</h2>
            <h2>Ofertas</h2>
            <h2>Carrito</h2>
            <h2>Mi Cuenta</h2>
            <h2>Quienes Somos?</h2>
            <div class="=iconos">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
            </div>
        </div>

    </footer>
</body>

</html>