<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/cuenta.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/listaProductos.css" />
    <title>Seven Gaming</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <main>
        <section>
            <div class="form-completo">
                <h1>Error 404</h1>
                <b><p>Lo sentimos!  No se pudo encontrar la ruta solicitada.</p></b>
            </div>
        </section>
    </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>