<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/cuenta.css" />
    <link rel="stylesheet" href="/css/producto.css" />
    <link rel="stylesheet" href="/css/listaProductos.css" />
    <link rel="stylesheet" href="/css/404.css" />
    <title>Seven Gaming</title>
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
    <body class="not-found">
        <section class="notFound">
            <div class="img">
            <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
            <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
            </div>
            <div class="text">
            <h1>404</h1>
            <h2>PAGE NOT FOUND</h2>
            <h3>BACK TO HOME?</h3>
            <a href="/" class="yes">YES</a>
            <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo">NO</a>
            </div>
        </section>
    </body>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>