<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/home.css" />
  <title>Seven Gaming</title>
  <script src="https://kit.fontawesome.com/6d6a4fc15e.js" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"></script>
  <script src="https://kit.fontawesome.com/6d6a4fc15e.js" crossorigin="anonymous"></script>
</head>

<body>
  <!-- Header -->
  <%- include('partials/header') %>
  <div class="container">
    <div class="card">
      <h3 class="title">Fortnite Edition 22</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <img class="oferta" src="images/NinjaWallpaper.jpeg" alt="ninja">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg>
      </div>
    </div>
    <div class="card">
      <h3 class="title">Skin Destiny</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <img class="oferta" src="images/ask-cayde-6.png" alt="ninja">
        <circle class="stroke" cx="60" cy="60" r="50"/>
      </svg>
      </div>
    </div>
    <div class="card">
      <h3 class="title">GTA San Andreas</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <img class="oferta" src="images/sanAndreas.jpeg" alt="ninja">
      </div>
    </div>
    <div class="card">
      <h3 class="title">Diana Skin</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
      <img class="oferta" src="images/Diana.png">
      </div>
    </div>
    <div class="card">
      <h3 class="title">Zonic Special</h3>
      <div class="bar">
        <div class="emptybar"></div>
        <div class="filledbar"></div>
      </div>
      <div class="circle">
        <img class="oferta" src="images/zonic.png" alt="ninja">
      </div>
    </div>
  </div>
    <section class="ofertas">
      <div class="title-container">
        <span class="ofertas-title">Ofertas</span>
      </div>
      <div class="cards-container">
        <div class="card">
          <img src="images/scgoskin.png" alt="" /><span class="texto1">Skin M3 CSGO</span><span
            class="precio1">$500</span>
        </div>
        <div class="card">
          <img src="images/snipercsgo.png" alt="" /><span class="texto1">Skin Sniper CSGO</span><span
            class="precio1">$800</span>
        </div>
        <div class="card">
          <img src="images/csgopersonaje.jpeg" alt="" /><span class="texto1">Avatar de personaje CSGO</span><span
            class="precio1">$700</span>
        </div>
        <div class="card">
          <img src="images/csgopersonaje2.jpeg" alt="ss" /><span class="texto1">Avatar de personaje CSGO</span><span
            class="precio1">$1500</span>
        </div>
        <div class="card">
          <img src="images/skinm4.jpeg" alt="skin" /><span class="texto1">Skin M4 Edition Prestige 7</span><span
            class="precio1">$570</span>
        </div>
        <div class="card">
          <img src="images/skin-Ak47.png" alt="ak47" /><span class="texto1">Skin AK-47 limited edition</span><span
            class="precio1">$500</span>
        </div>
      </div>
    </section>
    <section class="categorias">
      <div class="title-container2">
        <span class="categorias-title">Categorías</span>
      </div>
      <div class="cards-container2">
        <div class="card2">
          <span class="texto2">Juegos</span><img src="images/halo.jpg" alt="" />
        </div>
        <div class="card2">
          <span class="texto2">Libros & Arte</span><img src="images/player-one.png" alt="" />
        </div>
        <div class="card2">
          <span class="texto2">Pins</span><img src="images/pin-star-wars.png" alt="" />
        </div>
        <div class="card2">
          <span class="texto2">Accesorios</span><img src="images/auriculares.png" alt="" />
        </div>
        <div class="card2">
          <span class="texto2">Ropa</span><img src="images/gorra-fortnite.png" alt="" />
        </div>
      </div>
    </section>
    <!-- Footer -->
    <%- include('partials/footer') %>
      </div>
</body>

</html>