<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/home.css"/>
    <title>Seven Gaming</title>
    <script
      src="https://kit.fontawesome.com/6d6a4fc15e.js"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js"
    ></script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/6d6a4fc15e.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Header -->
    <%- include('partials/header') %>
      <section class="slider-container">
        <div class="imageContainer">
          <img class="img-carrusel" src="img/placeholder 1.png" alt="" />
          <img class="img-carrusel" src="img/placeholder 1.png" alt="" />
          <img class="img-carrusel" src="img/placeholder 1.png" alt="" />
          <img class="img-carrusel" src="img/placeholder 1.png" alt="" />
          <img class="img-carrusel" src="img/placeholder 1.png" alt="" />
        </div>
        <div class="selector-container">
          <div class="selector">
            <img src="img/Flecha_Izquierda.svg" alt="" />
            <div class="elipsis">
              <img id="elipsis-bk" src="img/Ellipse_4.svg" alt="" /><img
                src="img/Ellipse_4.svg"
                alt=""
              /><img src="img/Ellipse_4.svg" alt="" />
            </div>
            <img src="img/Flecha_derecha.svg" alt="" />
          </div>
        </div>
      </section>
      <section class="ofertas">
        <div class="title-container">
          <span class="ofertas-title">Ofertas</span>
        </div>
        <div class="cards-container">
          <div class="card">
            <img src="img/Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
          <div class="card">
            <img src="img/Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
          <div class="card">
            <img src="img/Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
          <div class="card">
            <img src="img/Image.png" alt="" /><span class="texto1"
              >Esta es una descripción</span
            ><span class="precio1">$500</span>
          </div>
        </div>
      </section>
      <section class="categorias">
        <div class="title-container2">
          <span class="categorias-title">Categorías</span>
        </div>
        <div class="cards-container2">
          <div class="card2">
            <span class="texto2">Juegos</span><img src="img/Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Libros & Arte</span
            ><img src="img/Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Pins</span><img src="img/Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Accesorios</span
            ><img src="img/Image.png" alt="" />
          </div>
          <div class="card2">
            <span class="texto2">Ropa</span><img src="img/Image.png" alt="" />
          </div>
        </div>
      </section>
      <!-- Footer -->
      <%- include('partials/footer') %
    </div>

  </body>
</html>