<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Seven Gaming</title>
    <link href="/css/carrito-login.css" rel="stylesheet">
    <link href="/css/cuenta.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link href="/css/home.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <main>
            <!-- <% if (typeof errors != 'undefined') {%>
                <p style="color: red">ERROR</p>
            <ul>
                <% for(let i=0; i < errors.length; i++) { %>
                    <li>
                        <%=errors[i].msg%>
                    </li>
    <% } %>
                
            </ul>
        <% } %> -->
            <section>
                <form action="" method="post">
                    <div class="titulo-2">
                        <h3>Iniciar Sesión</h3>
                    </div>

                    <article class="login">
                        <p>Email</p>
                        <div>
                            <input type="email" name="Email">
                        </div>
                    </article>

                    <article class="login">
                        <p>Contraseña</p>
                        <div>
                            <input type="password" name="contraseña">
                        </div>
                    </article>

                    <div class="repo-contraseña">
                        <p>¿olvidaste tu contraseña?</p>
                    </div>

                    <article class="iniciar-sesion">
                        <div>
                            <button type="menu">Iniciar Sesión</button>
                        </div>
                    </article>
                    <article class="login-3">
                        <p>¿No tenes cuenta?</p>
                        <div class="crear-cuenta">
                            <a href="/usuarios/cuenta"><label for=""><button type="submit"></button> Crear cuenta</label></a>
                        </div>
                    </article>
                </form>
            </section>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>