<!DOCTYPE html>

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SevenGaming</title>
    <link href="/css/carrito-login.css" rel="stylesheet">
    <link href="/css/cuenta.css" rel="stylesheet">
    <link href="/css/home.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="container">
          <div class="navBar">
            <div class="subNav1">
              <div class="icon-menu">
                <i
                class="fas fa-bars"
                style="color: white; width: 30px; height: 15px; cursor: pointer"
                ></i>
              </div>
            </div>
            <div class="subNav2">
              <img class="logo" src="img/logo.svg" alt="logo" />
            </div>
            <div class="subNav3">
              <i
              class="far fa-user-circle"
              style="
                color: white;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                "
            ></i>
            <i
            class="fas fa-search"
            style="
                color: white;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                cursor: pointer;
                "
            ></i>
            <i
            class="fas fa-cart-plus"
            style="color: white; width: 20px; height: 20px; cursor: pointer"
            ></i>
          </div>
        </div>
      </header>

    <main>
        <section>

            <div class="titulo-2"><h3>Iniciar Sesión</h3></div>

            <article class="login">
                <p>Email</p>
                <div>
                    <form action="" method="post">
                        <input type="email" name="Email">
                    </form>
                </div>
            </article>

            <article class="login">
                <p>Contraseña</p>
                <div>
                    <form action="" method="post">
                        <input type="password" name="contraseña"> 
                    </form>
                </div>
            </article>

            <div class="repo-contraseña"><p>¿olvidaste tu contraseña?</p></div>

            <article class="iniciar-sesion">
                <div>
                    <form action="" method="">
                        <button type="menu">Iniciar Sesión</button>
                    </form>
                </div>
            </article>
            <article class="login-3">
                <p>¿No tenes cuenta?</p>
                <div class="crear-cuenta">
                    <form action="" method="post">
                        <label for=""><button type="submit"></button> Crear cuenta</label>
                    </form>
                </div>
            </article>
        </section>
    </main>
        <footer class="footer--format">
            <div class="footer--distribution">
    
    
    
                <div class="footer--contactanos">
                    <h2>Contactanos</h2>
                    <p class="direccion">3221 Rinehart road, ford Lauderdale, Fl 33301</p>
                    <p class="direccion">594-92-5478 -contacto@sevengamin.com</p>
                </div>
                <h2>Home</h2>
                <h2>Juegos</h2>
                <h2>Libros & Arte</h2>
                <h2>Pins</h2>
                <h2>Ropa</h2>
                <h2>Ofertas</h2>
                <h2>Carrito</h2>
                <h2>Mi Cuenta</h2>
                <h2>Quienes Somos?</h2>
                <div class="=iconos">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
    
        </footer>
</body>

</html>