<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Seven Gaming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/producto.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/cuenta.css">
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <section class="galeria-imagenes">
            <h1 class="categoria">Libros & Arte</h1>

            <div class="imagenes">
                <div class="imagenPrincipal">
                    <img src="/images/img1.jpg" alt="Imagen Libro">
                </div>

                <div class="imagenSecundaria">
                    <img src="/images/img2.jpg" alt="Imagen Libro">
                    <img src="/images/img3.jpg" alt="Imagen Libro">
                    <img src="/images/img4.jpg" alt="Imagen Libro">
                    <img src="/images/img5.jpg" alt="Imagen Libro">
                </div>
            </div>
        </section>

        <div class="descripcion">
            <h2 class="titulo">Destiny Grimoire Anthology Volume IV: The Royal Will,
                Digital Ebook</h2>

            <h4 class="stock">En stock</h4>

            <p>Bungie presents the Destiny Grimoire Anthology: a
                must-have collectible lore compendium designed and assembled for Destiny’s devoted scholars and lore
                lovers, as well as fans of fantasy and science fiction storytelling.</p>

            <p>Contenido:</p>

            <ul>
                <li> Book Length: 172 pages – 184 page PDF file includes cover and end pages</li>
                <li> Language: English </li>
                <li> File size: 53 MB</li>
                <li> File Format: .pdf & .epub</li>
            </ul>

            <section class="cajaCantidad">
                <div class="form">
                    <div class="input">
                        <input type="number" name="caja">
                    </div>
                </div>
                <p class="cantidad">Cantidad</p>

            </section>

            <h4 class="cuotas">Hasta en 6 cuotas sin interés</h4>
        </div>
        <p class="boton"><a href="/productos/carrito">Agregar al carrito</a></p>
        <img class="tarjetas" src="/images/tarjetas.png" alt="Imagen Libro">
        </main>
    <!-- Footer -->
    <%- include('partials/footer') %>
</body>

</html>