<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6d7ddf6bb9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/cuenta.css">
    <title>Seven Gaming</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <!-- Header -->
    <%- include('partials/header') %>
        <main class="main__distribution">
            <h1 class="title--format">Editar usuario </h1>
            <form action="/productos/edit/:id?_method=DELETE" method="post" class="form--format">
                <div>
                    <label for="username">Modificar Nombre</label>
                    <input type="text" id="username" name="first_name">
                </div>
                <div>
                    <label for="precio">Modificar Apellido</label>
                    <input type="price" id="prc" name="last_name">
                </div>
                <div>
                    <label for="precio">Modificar Email</label>
                    <input type="price" id="prc" name="email">
                </div>
                <!-- <div>
                    <label for="precio">Modificar Contraseña</label>
                    <input type="price" id="prc" name="password">
                </div> -->
                <div>
                    <label for="username">Categorias</label>
                    <select id="categoria" name="category">
                        <option value="1">Administrador</option>
                        <option value="2">Cliente</option>
                    </select>
                </div>
                <!-- <div class="nombre--format">//Logica planteada para agregar imagenes pero no funciona por un mal funcionamiento del enctype.
                    <div class="nombre--distribucion">
                        <label>Modificar foto de perfil</label><br>
                        <input type="file" name='imagen1' /><br>
                        <input type="submit" name="subir-imagen" value="enviar imagen" />
                    </div>
                </div> -->
            </form>

            <div class="create--acount">
                <button class="botom--format" type="button" onclick="alert('cuenta creada!')">Actualizar</button>
                <div class="data">
                </div>
            </div>
        </main>
        <!-- Footer -->
        <%- include('partials/footer') %>
</body>

</html>