<footer class="footer--format">
    <div class="footer--contactanos">
        <h2>Contactanos</h2>
        <p class="direccion">3221 Rinehart road, ford Lauderdale, Fl 33301</p>
        <p class="direccion">594-92-5478 -contacto@sevengamin.com</p>
    </div>
    <div class="footer--distribution">
        <a href="/"><h2>Home</h2></a>
        <a href="/productos/productList"><h2>Productos</h2></a>
        <a href="/usuarios/login"><h2>Ingresar</h2></a>
        <a href="/productos/modificarProducto"><h2>Modificar Producto</h2></a>
        <a href="/productos/carrito"><h2>Carrito</h2></a>
        <a href="/usuarios/registrarse"><h2>Crear Cuenta</h2></a>
        <h2>Quienes Somos?</h2>
    </div>
    <div class="iconos">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>

</footer>