<footer class="footer">
    <div class="footer__addr">
      <h1 class="footer__logo"><img class="logo" src="/images/logo.svg" alt="logo" /></h1>
         
      <h2>Oficinas</h2>
     
      <address>
        Buenos Aires argentina, Microcentro paraguay 866<br>
           
        <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
      </address>
    </div>
   
    <ul class="footer__nav">
      <li class="nav__item">
        <h2 class="nav__title">Cuenta</h2>
        <ul class="nav__ul">

          <li><a href="/">Home</a></li>

          <% if (!locals.isLogged) { %>

          <li><a href="/usuarios/login">Ingresar</a></li>
          <li><a href="/usuarios/registrarse">Registrase</a></li>

          <% } else { %>

            <li><a href="/usuarios/perfil/ <%= locals.usuarioLogueado.id %>">Perfil</a></li>
            <li><a href="/usuarios/logout">Cerrar Sesión</a></li>

          <% } %>

        </ul>
      </li>

      <li class="nav__item nav__item--extra">
        <h2 class="nav__title">Productos</h2>
        <ul class="nav__ul nav__ul--extra">

          <% if (locals.isLogged && locals.usuarioLogueado.categoryId == 1) { %>

          <li><a href="/productos/productsList">Lista de Productos</a></li>
          <li><a href="/productos/crearProducto">Crear Producto</a></li>

          <% } else { %>

            <li><a href="/productos/carrito">Carrito</a></li>

          <% } %>

          <li><a href="/productos/listaProducto">Productos</a></li>

        </ul>
      </li>

      <li class="nav__item">
        <h2 class="nav__title">Legal</h2>
       
        <ul class="nav__ul">
          <li>
            <a href="#">Politica de privacidad</a>
          </li>
         
          <li>
            <a href="#">Terminos de uso</a>
          </li>
         
          <li>
            <a href="#">Sitio</a>
          </li>
        </ul>
      </li>
    </ul>
   
    <div class="legal">
      <p>&copy; 2022 Frontend developer. All rights reserved.</p>
     
      <!-- <div class="legal__links">
        <span>Made with <span class="heart">♥</span> With love from Seven gaming</span>
      </div> -->