<header>
  <div class="container">
    <div class="navBar">
      <div class="subNav1">
        <div class="icon-menu">
          <i class="fas fa-bars" style="color: white; width: 30px; height: 15px; cursor: pointer"></i>
        </div>
      </div>
      <div class="subNav2">
        <img class="logo" src="img/logo.svg" alt="logo" />
      </div>
      <div class="subNav3">
        <i class="far fa-user-circle" style="
            color: white;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            "></i>
        <i class="fas fa-search" style="
            color: white;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            "></i>
        <i class="fas fa-cart-plus" style="color: white; width: 20px; height: 20px; cursor: pointer"></i>
      </div>
    </div>
</header>