<header>
  <div class="container">
    <div class="navBar">
      <div class="subNav1">
        <div class="hamburger-menu">
          <input id="menu__toggle" type="checkbox" />
          <label class="menu__btn" for="menu__toggle">
            <span></span>
          </label>
          <ul class="menu__box">
            <li><a class="menu__item" href="/">Home</a></li>
            <% if (!locals.isLogged) { %>
              <li><a class="menu__item" href="/usuarios/login">Ingresar</a></li>
              <li><a class="menu__item" href="/usuarios/registrarse">Crear Cuenta</a></li>
            <% } %>
              <li><a class="menu__item" href="/productos/listaProducto">Productos</a></li>
            <% if (locals.isLogged && locals.usuarioLogueado.categoryId == 1) { %>
              <li><a class="menu__item" href="/productos/productsList">Lista de Productos</a></li>
              <li><a class="menu__item" href="/productos/crearProducto">Crear Productos</a></li>
              <li><a class="menu__item" href="/usuarios/logout">Cerrar Sesión</a></li>
            <% } %>
          </ul>
        </div>
      </div>
      <div class="subNav2">
        <img class="logo" src="/images/logo.svg" alt="logo" />
      </div>
      <div class="subNav3">
        <% if (locals.isLogged){%>
          <div>
            <a href="/usuarios/perfil/ <%= locals.usuarioLogueado.id %>"><p style="color:gold" >Hola <%= locals.usuarioLogueado.first_name %></p></a>
          </div>
          <% } else { %>
            <form class="boton-busqueda">
              <label class="buscar" for="search">Search</label>
              <input class="barra-busqueda" id="search" type="search" pattern=".*\S.*" required>
              <span class="caret"></span>
            </form>
            <a href="/usuarios/login"><i class="far fa-user-circle" style="
            color: white;
            margin-right: 10px;
            width: 20px;
            height: 20px;
            cursor: pointer;
            "></i>
            </a>
            <a href="/productos/carrito"><i class="fas fa-cart-plus"
                style="color: white; width: 20px; height: 20px; cursor: pointer"></i></a>
            <% } %>
      </div>
    </div>
</header>